* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
}

/* Navbar */

nav {
  height: 70px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9ed6d6;
  color: white;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

nav > h3 {
  font-weight: 300;
  text-shadow: 2px 2px 4px #ada9a9;
}

.nav--logo {
  width: 24px;
  margin-right: 10px;
}
